section#home {
    .row-title {
        min-height: 650px;
        .my-photo {
            box-shadow: none;
            overflow: hidden;
        }
        .my-name {
            font-family: $font-family-montserrat;
            font-size: 90px;
            line-height: 95px;
            color: #fff;
            strong {
                border-bottom: 3px solid $pinktone;
            }
        }
        .caption {
            font-family: $font-family-montserrat;
            margin-top: 40px;
            letter-spacing: 2px;
            color: #fff;
            font-size: 30px;
            line-height: 20px;
            font-weight: bold;
        }
        .media-icons {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .media-icons a {
            color: pink;
            font-size: 25px;
            margin: 8px;
        }
        .btn {
            margin-left: 50%;
            margin-right: 50%;
            font-family: $font-family-montserrat;
            background-color: burlywood;
            border: 2px blue;
            border-radius: 8px;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 1;
            transition: 0.3s ease;
        }
        .btn:hover {
            background: gray;
        }
    }
}

// section#home {
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/home/01.jpg) no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }
//
section#home {
    background: url(/img/home/01.jpg) no-repeat center center fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: slideBg 10s infinite;
    transition-timing-function: ease-out;
}

@keyframes slideBg {
    0% {
        background-image: url(/img/home/01.jpg);
    }
    25% {
        background-image: url(/img/home/02.jpg);
    }
    50% {
        background-image: url(/img/home/03.jpg);
    }
    75% {
        background-image: url(/img/home/04.jpg);
    }
    100% {
        background-image: url(/img/home/01.jpg);
    }
}